.BtnEspacio{
    border-style: solid;
    border-color: black;
    background-color: #493027;
    border-radius: 2px;
    margin: 5px;
    width: 100%;
    font-size: 15px;
    color: rgb(255,255,255);
}