<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" ></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Fertilizante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
  
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Nombre del Fertilizante" id="NombreFertilizante"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select placeholder="Seleccione 1" id="SelectTipo">
          <ion-select-option value="1">Orgánico</ion-select-option>
          <ion-select-option value="2">Sintético</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Utilidades" id="UtilidadesTxt"></ion-textarea>
        <ion-button (click)="agregarUtilidad()" color="success">Agregar</ion-button>
        
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Nutrimentos (Opcional)" id="NutrimentosTxt"></ion-textarea>
        <ion-button (click)="agregarNutrimento()" color="success">Agregar</ion-button>
        
      </ion-item>
      <ion-item>
        <ion-input placeholder="Periodicidad" type="number" id="NumberPeriodicidad"></ion-input>
        <ion-select placeholder="Mes/Dias" id="SelectTipoP">
          <ion-select-option value="1">Días</ion-select-option>
          <ion-select-option value="2">Meses</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Color</ion-label>
        <input type="color" id="ColorFertilizante" name="favcolor" value="#ff0000">
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Precauciones" id="PrecaucionesTxt"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button (click)="presentModal('Ver Utilidades',1)">Utilidades</ion-button>
        <ion-button (click)="presentModal('Ver Nutrimentos',2)">Nutrimentos</ion-button><br>
        
      </ion-item>
      <ion-button (click)="Guardar()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
