<ion-content [fullscreen]="true">
 
<ion-list>
<div class="SectorC" *ngFor="let item of sectores">

    <div *ngFor="let espacio of item.Espacios" class="ContainerE">
      
      <button class="BtnEspacio" *ngIf="espacio._id!=null;else elseBlock">{{espacio.Nombre}}</button>
      <ng-template #elseBlock>
        <nuevo-espacio [sector]="item"></nuevo-espacio>
      </ng-template>
     
    </div>
    <div class="BtnTitle">
      <button class="SectorTitle">{{item.Nombre}}</button>
    </div>
</div>

</ion-list>








</ion-content>
