.SectorC{
    border-style: solid;
    border-color: black;
    background-color: #311C14;
    border-radius: 10px;
    margin: 5px;
}
.BtnEspacio{
    border-style: solid;
    border-color: black;
    background-color: #493027;
    border-radius: 2px;
    margin: 5px;
    width: 100%;
    font-size: 15px;
    color: rgb(255,255,255);
}
.BtnEspacioMaseta{
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    border-style: solid;
    border-color: black;
    margin: 5px;
    font-size: 15px;
    color: rgb(255,255,255);
    display: inline;
}
.ContainerEspacioMaseta{
    width: 95%;
    display: inline;
}
.ContainerE{
    width: 95%;
}
.BtnTitle{
    margin: auto;
}
.SectorTitle{
    width: 95%;
    background-color: transparent;
    font-size: 13px;
    color: rgb(255, 255, 255);

}
#ErrorMsg{
    margin-top: 100%;
}