
<ion-content [fullscreen]="true">
 

  <ion-list class="menuAdd">
    
      <ion-button  fill="solid" expand="full" class="buttonsM" color="light" [routerLink]="['/nuevo-sector']">
        Agregar Sector
      </ion-button>

      <ion-button   fill="solid" expand="full" class="buttonsM" color="light" [routerLink]="['/nuevo-abono']">
        Registrar Abono
      </ion-button>
      <ion-button   fill="solid" expand="full" class="buttonsM" color="light" [routerLink]="['/nuevo-fertilizante']">
        Registrar Fertilizante
      </ion-button>
   
      <ion-button   fill="solid" expand="full" class="buttonsM" color="light" [routerLink]="['/nueva-plaga']">
        Registrar Plaga
      </ion-button>
  
  </ion-list>




  
</ion-content>
