<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >

  <ion-virtual-scroll [items]="data" approxItemHeight="200px">
  
    <ion-item *virtualItem="let item">
     
      <ion-label>{{item}}</ion-label>
      <ion-button color="danger" class="BtnEliminar"(click)="eliminarComentario(item)">Eliminar</ion-button>
    </ion-item>
  
  </ion-virtual-scroll>
</ion-content>
