<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >
  

  <ion-virtual-scroll [items]="data" approxItemHeight="200px" *ngIf="op==3">
  
    <ion-item *virtualItem="let item">
     
      <ion-label>{{item.comentario}}</ion-label>
      <ion-button color="danger" class="BtnEliminar"(click)="eliminarComentario(item,ev)">Eliminar</ion-button>
    </ion-item>
  
  </ion-virtual-scroll>


  <ion-virtual-scroll [items]="data1" approxItemHeight="200px" *ngIf="op==1">
    
    <ion-item *virtualItem="let abono">
      
      <ion-label>{{abono.Nombre}}</ion-label>
      <ion-button color="danger" class="BtnEliminar"(click)="eliminarItem(abono._id)">Eliminar</ion-button>
    </ion-item>
  </ion-virtual-scroll>
  <ion-virtual-scroll [items]="data1" approxItemHeight="200px" *ngIf="op==2">
    <ion-item *virtualItem="let fertilizante1">
     
      <ion-label>{{fertilizante1.Nombre}}</ion-label>
      <ion-button color="danger" class="BtnEliminar"(click)="eliminarItem(fertilizante1._id)">Eliminar</ion-button>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>