<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{sector}}</ion-card-subtitle>
      <ion-card-title>{{nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label>Fecha de Cultivo</ion-label>
        <ion-datetime value={{fecha_cultivo}} display-timezone="utc" id="FechaCultivo"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de cosecha sugerida</ion-label>
        <ion-datetime value={{fecha_cosecha}} display-timezone="utc" id="FechaCosecha"></ion-datetime>
      </ion-item>

      <div *ngIf="tipo==1;else elseBlock">
        <ion-item >
          <ion-label>Sol</ion-label>
          <ion-note slot="start" ><ion-icon name="sunny-outline"></ion-icon></ion-note>
          
  
        </ion-item>
      </div>
      
      <ng-template #elseBlock>
        <ion-item><ion-label>Sombra</ion-label>
          <ion-note slot="start" color="black" ><ion-icon name="cloud-outline"></ion-icon></ion-note></ion-item>
        
      </ng-template>
      <ion-item>
        <ion-label>Cuidados</ion-label>
        <ion-textarea  id="CuidadosTxt" readOnly placeholder={{cuidados}}></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button (click)="presentModal('Ver Abonos',1)">Abonos</ion-button>
        <ion-button (click)="presentModal('Ver Fertilizantes',2)">Fertilizante</ion-button><br>
        <ion-button (click)="presentModal('Ver Comentarios',3)">Comentarios</ion-button>
      </ion-item>

    </ion-card-content>

  </ion-card>






</ion-content>